Note: All credentials shown below are sample or partially redacted for security purposes.
# Relational Persistence Engine
DATABASE_URL=postgresql://neondb_owner:npg_************@ep-late-snow-aoujn99d-pooler.c-2.ap-southeast-1.aws.neon.tech/Bank%20A%20Database?sslmode=require&channel_binding=require
# Innov8tif Solutions API Gateway
INNOVA8TIF_USER=username
INNOVA8TIF_PASS=password
INNOVA8TIF_API_URL=https://ekycportaldemo.innov8tif.com/api/ekyc
# Cryptographic Cipher Secrets
JPN_ENCRYPTION_KEY=privatekey
JIM_ENCRYPTION_KEY=privatekey
SSM_ENCRYPTION_KEY=privatekey
BANKA_ENCRYPTION_KEY=privatekey
# Object Storage Cloud Topology
NEXT_PUBLIC_SUPABASE_URL=https://lxvoxybgnhhvbaxvblfk.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY= privatekey
#Email NodeMailer
EMAIL_USER=dtcobank@gmail.com
EMAIL_PASS=password
# Firebase service account keys for Vercel
FIREBASE_JPN_SERVICE_ACCOUNT_B64=base64string
FIREBASE_JIM_SERVICE_ACCOUNT_B64=base64string
FIREBASE_SSM_SERVICE_ACCOUNT_B64=base64string
